REACT_APP_OPENROUTER_API_KEY=your_openrouter_api_key_here
REACT_APP_ENV=development
REACT_APP_REPAIR_PRICING_API_KEY=your_vehicle_databases_api_key_here
REACT_APP_REPAIR_PRICING_API_URL=https://api.vehicledatabases.com/vehicle-repairs/v2
